h1 {
    font-size: 32px;
    font-style: italic;
    text-align: center;
    color: rgb(48, 48, 83);
}

h3 {
    font-size: 20px;
    text-align: center;
    color: rgb(48, 48, 83);
}

p {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

#game {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game:hover {
    text-decoration: underline;
}

#game1 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game1:hover {
    text-decoration: underline;
}

#game2 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game2:hover {
    text-decoration: underline;
}

#game3 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game3:hover {
    text-decoration: underline;
}

#game4 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game4:hover {
    text-decoration: underline;
}

#game5 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game5:hover {
    text-decoration: underline;
}

#game6 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game6:hover {
    text-decoration: underline;
}

#game7 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game7:hover {
    text-decoration: underline;
}

#game8 {
    text-decoration: none;
    color: rgb(0, 41, 164);
}
#game8:hover {
    text-decoration: underline;
}
